.leaflet-container{
    
    width: 500px;
    height: 1000px;
    border: 2px black solid;
    @media screen and (max-width:400px){
        width:350px;
      }
}
div{

    display: grid;
    justify-content: center;
    align-items: center;
}